[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
black = "*"
flask = "==1.0.2"
gunicorn = "==19.9.0"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
