[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "==1.1.2"
gunicorn = "==20.0.4"
flask-cors = "==3.0.9"
Jinja2 = "==2.11.2"
black = "*"
Werkzeug = "==1.0.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
